/*overwrite some defaults*/

html {
  box-sizing: border-box;
  font-size: 62.5%;
  line-height: 1.5;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
:root {
  --primary-font: "Roboto Condensed", sans-serif;
  --secondary-font: "Cabin", sans-serif;
  --active-font_color: #003a61;
  --disabled-font_color: #738aa7;
  --disabled-circle_color: #d3dde9;
  --bg-success: #0099ff;
  --divider: #eaeef5;
  --margin-b: 1.8rem;
}

body {
  font-family: var(--primary-font);
}

img {
  max-width: 100%;
  display: block;
}
.text-center {
  text-align: center;
}

/*Header Mobile*/
.masthead {
  border-bottom: 2px solid var(--divider);
  margin-bottom: var(--margin-b);
  padding: 3rem;
}
.masthead #overpass {
  display: none;
}
/*Step #steps*/

#steps {
  padding: 0 3rem;
}
/*Step Section .circle*/

.circle {
  align-items: center;
  background-color: var(--bg-success);
  border-radius: 50%;
  color: #fff;
  display: flex;
  flex: 0 0 auto;
  font-size: 1.8rem;
  font-weight: 400;
  height: 2.3rem;
  justify-content: center;
  margin-right: 1rem;
  width: 2.3rem;
}
.circle-disabled {
  background-color: var(--disabled-circle_color);
  color: var(--active-font_color);
}

/*Step Section .step- */

.step-one,
.step-two,
.step-three {
  align-items: baseline;
  display: flex;
  justify-content: flex-start;
}

.active-heading {
  color: var(--active-font_color);
  font-family: var(--secondary-font);
  font-size: 1.4rem;
  font-weight: 400;
}
.disabled-heading {
  color: var(--disabled-font_color);
  font-family: var(--secondary-font);
  font-size: 1.4rem;
  font-weight: 400;
}

.lead {
  color: var(--active-font_color);
  font-size: 1.6rem;
  font-weight: 900;
}
.lead.lead-disabled {
  color: var(--disabled-font_color);
}
.lead + span {
  color: var(--active-font_color);
  font-size: 1.2rem;
  font-weight: 700;
}

/*Figure + img*/

figure {
  max-width: 19.2rem;
  margin: 0 auto;
  border: 2px solid var(--disabled-circle_color);
  border-radius: 50%;
  padding: 1rem;
}

figure > img {
  border-radius: 50%;
}

.candidate-name {
  text-align: center;
}
.sample {
  display: flex;
  justify-content: center;
  align-items: end;
  margin-bottom: var(--margin-b);
}
.sample-play {
  background-color: #fee486;
  border-radius: 50%;
  flex: 0 0 auto;
  height: 5rem;
  margin-right: 1rem;
  padding: 1rem;
  width: 5rem;
}
.sample-svg {
  fill: var(--active-font_color);
}
.sample > p {
  color: var(--active-font_color);
  font-size: 1.2rem;
  font-weight: 700;
}
.time-zone,
.briefcase,
.money {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}
.time-zone svg,
.briefcase svg,
.money svg {
  margin-right: 1rem;
}
.us,
.real-estate,
.amount {
  color: var(--active-font_color);
  font-size: 1.4rem;
  font-weight: 700;
}
.interest h4,
p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#hidden-content {
  display: none;
  overflow: visible;
}

.visibleSpan,
.hiddenSpan {
  color: var(--bg-success);
}

.visibleSpan::after {
  content: url("./registration__assets/creat-down_f.svg");
  display: inline-block;
  margin-left: 0.5rem;
}

.hiddenSpan::after {
  content: url("./registration__assets/creat-down_f.svg");
  transform: rotate(180deg);
  display: inline-block;
  margin-left: 0.5rem;
}

.toggleWrapper {
  text-align: center;
  font-weight: 500;
  font-size: 1.4rem;
}

/*Create Account section*/

.create-account {
  padding: 0 3rem;
}
.hgroup {
  margin-bottom: var(--margin-b);
}
.hgroup h1 {
  font-size: 2.2rem;
  margin: 0.5rem 0;
  color: var(--active-font_color);
}

.hgroup h2 {
  font-size: 1.8rem;
  margin: 0.5rem 0;
  color: var(--active-font_color);
}

.reg-form {
  background-color: #f6f7f8;
  border: 1px solid #d6d9dc;
  border-radius: 3px;
  width: 100%;
  margin: 0 0 2rem 0;
}

.form-row {
  margin-bottom: 40px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}

.form-row input[type="text"],
.form-row input[type="email"] {
  background-color: #ffffff;
  border: 1px solid var(--disabled-circle_color);
  border-radius: 3px;
  width: 100%;
  padding: 7px;
  font-size: 14px;
}

.form-row label,
.select-label-row label {
  margin-bottom: 15px;
}

.select-label-row {
  margin-bottom: 40px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}
